@import '~antd/dist/antd.css';

html,
body {
    height: 100%;
    position: relative;
}
body {
    display: flex;
    flex-direction: column;
}

/* login.tsx */

.login-form {
    padding-top: 10%;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 40%;
}

#login .ant-col-rtl .login-form-forgot {
    float: left;
}

#login .login-form-button {
    width: 100%;
}

/* transactionTable.tsx */

.transactions-table {
    margin: 0% 5% 0% 5%;
}
